/* 
=====================
Reset (Brit)
===================== 
*/
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    line-height:1;
    /* border:solid gray 1px; */
}

/* 
=====================
General
===================== 
*/

body {
    color:black;
    background-color:white;
    font-size:1.4rem;

}

h1, h2, h3, h4, h5, h6, p {
    color:white; 
    font-family:sans-serif;
    line-height:1.25;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:bold;
}

h1 {
    font-size:3.5rem;
}

h2 {
    font-size:2.5rem;
}

a {
    text-decoration:none;
    display:inline-block;
}


img {
    border:none;
}

article {
    margin:0 1rem;
}
/* 
=====================
Link Buttons
(shared styles)
** space before ***
===================== 
*/

.title-bar a, .intro a, footer a {
    color:white; 
    font-family:sans-serif;
    line-height:1.25;
    font-weight:bold;
}

.title-bar a {
    padding:.5rem 1.4rem;
}

h2 {
    margin:2rem 0 0 0;
}
p {
    margin:1rem 0 1rem 0;
}

.intro a, footer a {
    padding:1rem 2.8rem;
    margin:1rem 0 0 0;

}
/* 
=====================
Title bar / nav
===================== 
*/

.title-bar {
    background-color:pink;
    padding:2rem 0 1.5rem 3rem;

}

.title-bar h1 {
    padding:0 0 1rem 0;
}
.title-bar a{
    background-color:palevioletred;
}

.title-bar .youarehere {
    background-color:white;
    color:black;
}


/* 
=====================
Intro
===================== 
*/
.intro {
    background-color:mediumspringgreen;
    display:flex;
    flex-flow:row wrap;
}

.intro .left {
    width:50%;
}

.intro-text p {
    color:seagreen;
}


.intro-text a{
    background-color:darkseagreen;
}

.right {
    width:33rem;
    margin:0 0 0 3rem;
}

/* 
=====================
Project Links
===================== 
*/

section.project-links {
    background-color:lemonchiffon;
    text-align:center;
    display:flex;
    flex-flow:column;
    width:100%;
    padding: 3rem 0;

}

.project-links p{
    color:darkkhaki;
}

.row-content {
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
    margin:0 0 1.5rem 0;
}

.project{
    width:23%;
    min-width:15rem;
    margin:0 0.5%;
}

.project img {
    width:100%;
}


/* 
=====================
Footer
===================== 
*/
footer {
    background-color:plum;
    text-align:center;
    padding:2rem 0 7rem 0;
}

footer a{
    background-color:darkviolet;
}
