/* 
=====================
Reset (Brit)
===================== 
*/
* {
    box-sizing:border-box;
    margin:0;
    padding:0;
    /* border:solid gray 1px; */
}

/* 
=====================
General
===================== 
*/

body {
    color:black;
    background-color:white;
    font-size:1.4rem;

}

h1, h2, h3, h4, h5, h6, p, a {
    color:white; 
    font-family:sans-serif;
}

h1, h2, h3, h4, h5, h6, a {
    font-weight:bold;
}

h1 {
    font-size:3.5rem;
}

h2 {
    font-size:2.5rem;
}

a {
    text-decoration:none;
}


img {
    border:none;
}

/* 
=====================
Link Buttons
(shared styles)
===================== 
*/

.title-bar a {
    padding:.5rem 1.4rem;
}

.intro a, footer a {
    padding:1.2rem 2rem;
}
/* 
=====================
Title bar / nav
===================== 
*/

.title-bar {
    background-color:pink;

}
.title-bar a{
    background-color:palevioletred;
}

.title-bar .youarehere {
    background-color:white;
    color:black;
}


/* 
=====================
Intro
===================== 
*/
.intro {
    background-color:mediumspringgreen;
    display:flex;
    flex-flow:row wrap;
}

.intro-text {
    width:40%;
}

.intro-text p {
    color:seagreen;
}
.intro-img{
    background-color:seagreen;
    width:20%;
}

.intro-text a{
    background-color:seagreen;
}
/* 
=====================
Project Links
===================== 
*/

section.project-links {
    background-color:lemonchiffon;
    text-align:center;
    display:flex;
    flex-flow:column;
    width:100%;

}

.project-links p{
    color:darkkhaki;
}

.row-content {
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
}

.project{
    width:15rem;
    height:18rem;
}

.project img {
    width:15rem;
    height:15rem;
    background-color:khaki;
}


/* 
=====================
Footer
===================== 
*/
footer {
    background-color:plum;
    text-align:center;
}

footer a{
    background-color:darkviolet;
}